html, body {
  background: #A0D9CB;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
    }
  .attels {
    display: block;
    width: 185px;
    height: 163px;
    position: relative;
  }

  .ingus{
    /*position: absolute;*/
/*    width: 217px;
    height: 42px;*/

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #5D576B;
  }

  .saraksts {
      border-spacing: 0 5px;
      border-collapse: separate;
  }
  .saraksts th {
      font-size: 24px;
      font-weight: 500;
      padding: 20px;
  }
  .saraksts tr td {
      padding: 20px;
  }
  .tabulasgalva th {
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
}
  .tabulasgalva thead tr {
    height: 168px;
    line-height: 24px;
    background:#5d576b00;
    color: #5D576B;
}
  .saraksts thead tr {
      height: 68px;
      line-height: 24px;
      background:#5D576B;
      color: #FFFFFF;
  }
  .saraksts tbody tr {
      height: 68px;
      line-height: 24px;
      font-size: 18px;
  }

  .pabeigts {
      background:#31D45F;
  }

  .nepabeigts {
      background: #FF9494;
  }

  .editb, .binb{
      background: transparent;
      border-width: 0px;
      width: 30px;
      height: 30px;
  }

  .editimg, .binimg {
      width: 30px;
      height: 30px;
  }
