body {
    background-color: #A0D9CB;
}

.saimnieks{
    /* Inguss Zariņš */
    position: absolute;
    top: 40px;
    right: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #5D576B;
}
.taisnsturis{
/* Tumšais fons  */
    display: block;
    width: 100%;
    background: #5D576B;
    }

.skaidrojums{
    /* (SAIMNIEKS) */
    position: absolute;
    top: 85px;
    right: 6%;
    width: 71px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5D576B;
}
.pogauzd {
    /* UZ UZDEVUMIEM */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    color: #5D576B;
    font-size: 12px;
    line-height: 14px;

    width: 137px;
    height: 25px;
    background: #31D45F;
    border: 1px solid #5D576B;
}

.pogauzd > a {
    text-decoration: none;
}

.poganoviet{
    position: absolute;
    right: 6%;
}

.pogaiziet{

    width: 72px;
    height: 25px;
    background: #5D576B;
    border: 1px solid;
    /* IZIET */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    top: 100px;
    right: 6%;
    color: #A0D9CB;
}

.tabula {
    position: relative;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    color: #5D576B;
}

.pirmarinda{
    background: #31D45F;
}

.visasrindas{
    background: #F5F3F3;
}

.kolona{
    width: auto;
    height: 46px;
}

.rindas{
    background: #F5F3F3;
}

.ievadvards{
    width: 15%;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2vw;
}

.bilde{
    margin-top: 10vh;
    display: block;
    position: relative;
    position: left;
}

.pogapievienot{
    background: #31D45F;
    border: 1px solid #5D576B;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    width: 15%;
    height: 46px;
    align-items: center;
    color: #5D576B;
    font-size: 12px;
    line-height: 14px;
    margin-left: 20px;
}
.teksts{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #ADADAD;
}
.loma{
    width: 15%;
    height: 46px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 2vw;
    color: #ADADAD;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid #F5F3F3;
    }
.lomatab{
    color: #5D576B;
    font-size: 16px;
    height: 42px;
    border: 1px solid #F5F3F3;
}
.row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 90%;
    }
