.heading1 {
  margin-top: 10vh;
  text-align: center;
  font-size: 150%;
  font-weight: 700;
  color: #703242;
} 
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}   
.login_form_container {
  width: 80%;
  padding-top: 5px;
  background: #703242;
  margin: auto;
  height: 96px;
}      
.password_input {
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 93%;
  border: solid #703242 2px;
  height: 35px;
  color: #BDBDBD;
  font-size: 100%;
}  
.login_btn {
  display: flex;
  margin-top: 5px;
  padding-top: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 40px;
  background: #47484D;
  font-size: 100%;
  color: #FFFFFF;
}
.ramis {
  max-width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}