.heading1{
  margin-top: 10vh;
  text-align: center;
  font-size: 300%;
  font-weight: 700;
  color: #703242;
} 
.logo{
  margin-top: 10vh;
  width: 100%;
}   
.login_form_container{
  width: 100%;
  background: #703242;
}      
.password_input{
  display: flex;
  margin: 0 auto;
  width: 50vw;
  height: 10vh;
  padding-left: 10px;
  color: #BDBDBD;
  font-size: 300%;
}  
.login_btn{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 10vh;
  background: #47484D;
  font-size: 300%;
  color: #FFFFFF;
}