body {
    background-color: #A0D9CB;
    font-family: Roboto;
}

.row{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 90%;
   }

.attels {
    display: block;
    width: 185px;
    height: 163px;
    position: relative;
    position: left;
}

.saimnieks{
    position: absolute;
    top: 40px;
    right: 6%;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #5D576B;
}
.skaidrojums{
    /* (Elektriķis) */
    position: absolute;
    top: 85px;
    right: 6%;
    width: 71px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5D576B;
}
.pogaiziet{

    width: 72px;
    height: 25px;
    background: #5D576B;
    border: 1px solid;
    /* IZIET */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    top: 100px;
    right: 6%;
    color: #A0D9CB;
}
.pogaizietw{
    position: absolute;
    width: 72px;
    height: 25px;
    background: #5D576B;
    border: 1px solid;
    /* IZIET */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    top: 100px;
    right: 6%;
    color: #A0D9CB;
}

.saraksts {
    border-spacing: 0 5px;
    border-collapse: separate;
}
.tabula {
    width: 95%;
}
.saraksts th {
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
}

.saraksts thead tr {
    height: 46px;
    background:#5D576B;
    color: #FFFFFF;
}

.saraksts tbody tr {
    height: 46px;
    font-size: 16px;
 }

.pabeigts {
    background:#31D45F;
}

.undone {
    background: #FF9494;
}
.editb {
    background: none;
    border: none;
    font-size: 20px;
}
.vidus {
    text-align: center;
}
.pogauzd {
    /* LIETOTĀJI */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    color: #5D576B;
    font-size: 12px;
    line-height: 14px;
    width: 137px;
    height: 25px;
    background: #31D45F;
    border: 1px solid #5D576B;
 }
.poganoviet{
    position: absolute;
    right: 6%;
}
