{% extends 'layout.html' %}

{% block content %}
  <div class="">
    <h1 class="heading1">SAIMNIECISKO DARBU UZSKAITES SISTĒMA</h1>
    <div class="ramis">
      <img src="../static/images/stradnieks.svg" class="logo" />
      <div class="login_form_container">
        <input class="password_input" type="password" placeholder="PAROLE">
        <button class="login_btn" type="submit">
            <a href="/problem">PIESLĒGTIES</a>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
