{% extends 'layout.html' %}

{% block content %}
  <div class="row" onload=tableFromJson(); onload=dropdownRoomFromJson()>
    <div class="saimnieks">Inese Zariņa</div>
    <div class="skaidrojums">(DARBINIEKS)</div>
    <button class="pogaiziet"><a href="/">IZIET</a></button>
    <div class="attels">
      <img src="../static/images/workers.svg">
    </div>

    <div class="iesniegt">
      <input type="text" class="ievadvards teksts" value="NORĀDI VIETU">
      <input type="text" class="apraksts teksts" placeholder="PROBLĒMAS APRAKSTS">

      <select class="loma" name="loma">
        <option value="galvena">IZVĒLIES DARBINIEKU</option>
        <option value="galvena">Saimnieks</option>
        <option value="str1">Santehniķis</option>
        <option value="str2">Elektriķis</option>
        <option value="str3">Galdnieks</option>
      </select>

      <button class="submit" type="submit">IESNIEGT</button>


    </div>

    <table class="tabula saraksts">
      <thead>
        <tr>
          <th>DATUMS</th>
          <th>KABINETS</th>
          <th>KAM UZDOTS</th>
          <th> APRAKSTS</th>
          <th>LABOT</th>
        </tr>
      </thead>
      <tbody>
        <tr class="undone">
          <td>10-10-2020</td>
          <td class="vidus">234</td>
          <td>Sergejs Zembkovskis</td>
          <td>Nedeg apgaismojums pie tāfeles (nav lampiņu)</td>
          <td class="vidus">
            <button class="editb">
              <img src="../static/images/labot.svg">
            </button>
            <button class="editb">
              <img src="../static/images/dzest.svg">
            </button>
          </td>
        </tr>
        <tr class="pabeigts">
          <td>10-09-2020</td>
          <td class="vidus">4507</td>
          <td>Inese Zariņa</td>
          <td>Kabinetā nedeg 4 spuldzes</td>
          <td class="vidus">
            <button class="editb">
              <img src="../static/images/labot.svg">
            </button>
            <button class="editb">
              <img src="../static/images/dzest.svg">
            </button>
          </td>
        </tr>
        <tr class="undone">
          <td>10-10-2020</td>
          <td class="vidus">234</td>
          <td></td>
          <td>Nedeg apgaismojums pie tāfeles (nav lampiņu)</td>
          <td class="vidus">
            <button class="editb">
              <img src="../static/images/labot.svg">
            </button>
            <button class="editb">
              <img src="../static/images/dzest.svg">
            </button>
          </td>
        </tr>
        <tr class="undone">
          <td>10-09-2020</td>
          <td class="vidus">4507</td>
          <td></td>
          <td>Kabinetā nedeg 4 spuldzes</td>
          <td class="vidus">
            <button class="editb">
              <img src="../static/images/labot.svg">
            </button>
            <button class="editb">
              <img src="../static/images/dzest.svg">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
