<form id="new_user_form" action='/new_user' method='post'>
        <input type="text" class="ievadvards teksts" placeholder="VĀRDS" name="name">
        <input type="text" class="ievadvards teksts" placeholder="UZVĀRDS" name="surname">
        <input type="text" class="ievadvards teksts" placeholder="PAROLE" name="password">
        <select class="loma" name="role">
            <option>LOMA</option>
            <option value="saimnieks">Saimnieks</option>
            <option value="darbinieks">Darbinieks</option>
            <option value="santehniķis">Santehniķis</option>
            <option value="elektriķis">Elektriķis</option>
            <option value="galdnieks">Galdnieks</option>
        </select>
        <button class="pogapievienot" type="submit">PIEVIENOT</button>
    </form>
